:root {
  --main-color: #002c85;
  --light-color: #ecf0f3;
  --external-box-shadow: 2px 2px 2px #d1d9e6, -3px -3px 3px #f9f9f9;
  --internal-box-shadow: inset 2px 2px 4px #d1d9e6, inset -2px -2px 4px #f9f9f9;
  --main-font: "Raleway", sans-serif;
}

body {
  overflow-x: hidden;
  font-family: var(--main-font);
  // background-color: var(--light-color);
}
a {
  text-decoration: none !important;
}
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin: 0;
}

*:focus {
  outline: none !important;
}
// ol,
// ul {
//   list-style: none;
// }
